<launch>
    <!-- Node from the diffodom package -->
    <node pkg="diffodom" type="diffodom.py" name="diff_tf" output="screen"/>

    <!-- Node from the joy package -->
    <node pkg="joy" type="joystick.py" name="joystick_node" output="screen"/>

    <!-- Node from the map package -->
    <node pkg="map" type="map.py" name="minefield_map" output="screen">
        <param name="size" value="20"/>
    </node>

    <!-- Node from the robot_ekf package -->
    <node pkg="robot_ekf" type="kalman_dyn.py" name="ekf_dyn" output="screen"/>

    <!-- Node from the YOLO package -->
    <!-- <node pkg="yolo" type="yolonode.py" name="camera_detection_node" output="screen"/> -->
</launch>
