<launch>

	<!-- <node name="joystick" pkg="joystick" type="joystick.py" />
    <node name="camera" pkg="joystick" type="detection.py" />

	<node name="encoder" pkg="diffodom" type= "diffodom.py" /> -->
	<node name = "ekf" pkg= "joystick" type="super.py" output="screen"/>
	<node name="rqt_multiplot" pkg="rqt_multiplot" type="rqt_multiplot" />
	<node name="map" pkg="map" type= "map.py" />


</launch>
